<form action="/Product/Update">
    <div><label>Id</label><input name="Id" type="text" value="@Model.Id"/></div>
    <div><label>ProductName</label><input name="ProductName" type="text" value="@Model.ProductName" /></div>
    <div><label>ProductLabel</label><input name="ProductLabel" type="text" value="@Model.ProductLabel" /></div>
    <div><label>StartingInventory</label><input name="StartingInventory" type="text" value="@Model.StartingInventory" /></div>
    <div><label>InventoryReceived</label><input name="InventoryReceived" type="text" value="@Model.InventoryReceived" /></div>
    <div><label>Inventoryshipped</label><input name="Inventoryshipped" type="text" value="@Model.Inventoryshipped" /></div>
    <div><label>InventoryOnHand</label><input name="InventoryOnHand" type="text" value="@Model.InventoryOnHand" /></div>
    <div><label>MinimumRequired</label><input name="MinimumRequired" type="text" value="@Model.MinimumRequired" /></div>
    <div><input type="submit" value="Update"></div>







</form>