<a href="/Suppliers/AddSupplier">Add suppliers</a>
<table>

    <tr>
        <th>Id</th>
        <th>Supplier_Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Supplier_Name</td>
            <td>@Html.ActionLink("Detail","Detail","Suppliers",new{item.Id})</td>
            <td>@Html.ActionLink("Delete","Delete","Suppliers",new{item.Id})</td>
            <td>@Html.ActionLink("Edit","Edit","Suppliers",new{item.Id})</td>
        </tr>
    }
</table>